* {
    margin: 0;
    padding: 0;
}


$bg-color-blue: #70bce7;
$bg-color-wh: #fcfdfd;
$bg-lgrey: #e8e9e9; 
$color-grey: #646464;
$color-blue: #6ab9e7;
$color-vlight: #a797de;
$color-v: #484175;
$color-vwhite: #f6f6f6; 