h1 {
    font-size: $h1;
    text-align: center;
    font-weight: 600;
}
h2{
    font-size: $h2;
    text-align: center;
    font-weight: 400;
}
p{
    font-size: $p;
    text-align: center;
    font-weight: 200;
}
.aclaracion {
    font-weight: 200;
    font-size: 14px;
}

#infoUtil {
    width: 30%;
    background: linear-gradient(290deg, rgba(125,111,173,1) 51%, rgba(167,151,222,1) 100%);
    border-radius: 45px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto 5% auto;
    p {
        margin-bottom: 0;
        padding: 5%;
        color: $bg-color-wh;
    }
}

.formContainer {
    display: flex;
    flex-wrap: wrap;
    outline: none;
    #searchInput {
        width: 90%;
        padding: 1% 3%;
        border-radius: 50px;
        border:solid $bg-lgrey;
        outline: transparent;
        cursor: pointer;
    }
    #btnBuscar {
        width: 10%;
        border-radius: 50px;
        border-style: hidden;
        font-size: $p;
        background: linear-gradient(290deg, rgba(125,111,173,1) 51%, rgba(167,151,222,1) 100%);
        color: $color-vwhite;
        &:hover {
            transform: scale(1.05);
            transition: 2s;
            background: linear-gradient(290deg, rgba(90,78,129,1) 51%, rgba(167,151,222,1) 100%);
        }
    }
}

#list-container {
    z-index: 0;
    width: 90%;
    padding: 0;
    .alimento-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 5%;
        list-style: none;
        border: solid 1px $bg-color-wh;
        padding: 1% 4%;
        border-radius: 50px;
        background: linear-gradient(290deg, rgba(125,111,173,1) 51%, rgba(167,151,222,1) 100%);
        .p-item {
            text-align: left;
            margin-bottom: 0;
            color: $color-vwhite;
        }
        .btnListar {
            font-size: 30px;
            border: none;
            background-color: transparent;
            outline: none;
            color: $color-vlight;
            justify-content: flex-end;
            &:hover {
                color: $color-v;
            }
        }

    }
}

.active {
    z-index: 1;
}

.table-responsive {
    min-height: .01%;
    overflow-x: auto;
    border-radius: 20px;
}

.tabla {
    width: 100%;
    margin-bottom: 5%;
    thead {
        background: linear-gradient(290deg, rgba(125,111,173,1) 51%, rgba(167,151,222,1) 100%);
        th {
            padding: 2%;
            justify-content: space-between;
            align-content: space-around;
            text-align: center;
            color: $color-vwhite;
        }
    }
    tbody {
        background-color: $bg-lgrey;
        font-size: $p;
        color: $color-grey;
    }
    tfoot {
        background-color: #b7b9b9;
        th {
            padding: 2%;
            text-align: center;
            font-size: $p;
            color: $color-grey;
        }
        td {
            text-align: center;
            align-content: space-around;
            justify-content: space-between;
            button {
                padding: 1.4% 8%;
                border: none;
                border-radius: 5px;
                outline: none;
                color: $bg-color-wh;
                height: fit-content;
                justify-content: flex-end;
                background: linear-gradient(290deg, rgba(125,111,173,1) 51%, rgba(167,151,222,1) 100%);
                &:hover {
                    transform: scale(1.1);
                    transition: 2s;
                    background: linear-gradient(290deg, rgba(90,78,129,1) 51%, rgba(167,151,222,1) 100%);
                }
            }
        }
        .totalCarbs, .dosis {
            text-align: center;
            font-size: $h3;
            color: $bg-color-wh;
        }
    }
}

#alimentos {
    tr {
        text-align: center;
        align-content: space-around;
        justify-content: space-between;
        td {
            padding: 1% 0;
            .btnSumar {
                margin-right: 10%;
                font-size: 30px;
                border: none;
                background-color: transparent;
                outline: none;
                color: $color-vlight;
                justify-content: flex-end;
                &:hover {
                    color: $color-v;
                }
            }
            .btnRestar {
                border: none;
                font-size: 35px;
                border: none;
                background-color: transparent;
                outline: none;
                color: $color-vlight;
                justify-content: flex-end;
                &:hover {
                    color: $color-v;
                }
            }
        }
    }
}

