/* Base */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: #646464;
  background-color: #f6f6f6;
  margin: 10%;
}

/* Components */
h1 {
  font-size: 34px;
  text-align: center;
  font-weight: 600;
}

h2 {
  font-size: 21px;
  text-align: center;
  font-weight: 400;
}

p {
  font-size: 16px;
  text-align: center;
  font-weight: 200;
}

.aclaracion {
  font-weight: 200;
  font-size: 14px;
}

#infoUtil {
  width: 30%;
  background: linear-gradient(290deg, #7d6fad 51%, #a797de 100%);
  border-radius: 45px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto 5% auto;
  box-shadow: 5px 5px 5px #484175;
}
#infoUtil p {
  margin-bottom: 0;
  padding: 5%;
  color: #fcfdfd;
}

.formContainer {
  display: flex;
  flex-wrap: wrap;
  outline: none;
}
.formContainer #searchInput {
  width: 90%;
  padding: 1% 3%;
  border-radius: 50px;
  border: solid #e8e9e9;
  outline: transparent;
  cursor: pointer;
}
.formContainer #btnBuscar {
  width: 10%;
  border-radius: 50px;
  border-style: hidden;
  font-size: 16px;
  background: linear-gradient(290deg, #7d6fad 51%, #a797de 100%);
  color: #f6f6f6;
  box-shadow: 3px 3px 3px #484175;
}
.formContainer #btnBuscar:hover {
  transform: scale(1.05);
  transition: 2s;
  background: linear-gradient(290deg, #5a4e81 51%, #a797de 100%);
}

#list-container {
  z-index: 0;
  width: 90%;
  padding: 0;
}
#list-container .alimento-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 5%;
  list-style: none;
  border: solid 1px #fcfdfd;
  padding: 1% 4%;
  border-radius: 50px;
  background: linear-gradient(290deg, #7d6fad 51%, #a797de 100%);
}
#list-container .alimento-item .p-item {
  text-align: left;
  margin-bottom: 0;
  color: #f6f6f6;
}
#list-container .alimento-item .btnListar {
  font-size: 30px;
  border: none;
  background-color: transparent;
  outline: none;
  color: #a797de;
  justify-content: flex-end;
}
#list-container .alimento-item .btnListar:hover {
  color: #484175;
}

.active {
  z-index: 1;
}

.table-responsive {
  min-height: 0.01%;
  overflow-x: auto;
  border-radius: 20px;
}

.tabla {
  width: 100%;
  margin-bottom: 5%;
}
.tabla thead {
  background: linear-gradient(290deg, #7d6fad 51%, #a797de 100%);
}
.tabla thead th {
  padding: 2%;
  justify-content: space-between;
  align-content: space-around;
  text-align: center;
  color: #f6f6f6;
}
.tabla tbody {
  background-color: #e8e9e9;
  font-size: 16px;
  color: #646464;
}
.tabla tfoot {
  background-color: #b7b9b9;
}
.tabla tfoot th {
  padding: 2%;
  text-align: center;
  font-size: 16px;
  color: #646464;
}
.tabla tfoot td {
  text-align: center;
  align-content: space-around;
  justify-content: space-between;
}
.tabla tfoot td button {
  padding: 1.4% 8%;
  border: none;
  border-radius: 5px;
  outline: none;
  color: #fcfdfd;
  height: fit-content;
  justify-content: flex-end;
  background: linear-gradient(290deg, #7d6fad 51%, #a797de 100%);
  box-shadow: 3px 3px 3px #484175;
}
.tabla tfoot td button:hover {
  transform: scale(1.1);
  transition: 2s;
  background: linear-gradient(290deg, #5a4e81 51%, #a797de 100%);
}
.tabla tfoot .totalCarbs, .tabla tfoot .dosis {
  text-align: center;
  font-size: 18px;
  color: #fcfdfd;
}

#alimentos tr {
  text-align: center;
  align-content: space-around;
  justify-content: space-between;
}
#alimentos tr td {
  padding: 1% 0;
}
#alimentos tr td .btnSumar {
  margin-right: 10%;
  font-size: 30px;
  border: none;
  background-color: transparent;
  outline: none;
  color: #a797de;
  justify-content: flex-end;
}
#alimentos tr td .btnSumar:hover {
  color: #484175;
}
#alimentos tr td .btnRestar {
  border: none;
  font-size: 35px;
  border: none;
  background-color: transparent;
  outline: none;
  color: #a797de;
  justify-content: flex-end;
}
#alimentos tr td .btnRestar:hover {
  color: #484175;
}

@media only screen and (max-width: 679px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 5px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .table-responsive .table thead tr th {
    white-space: nowrap;
  }

  th {
    padding: 1%;
    font-size: 12px;
  }

  tbody tr {
    font-size: 10px;
  }

  .tabla tfoot .totalCarbs, .tabla tfoot .dosis {
    font-size: 12px;
  }

  .tabla tfoot td button {
    padding: 1% 3%;
    font-size: 12px;
  }

  #infoUtil {
    width: 80%;
  }

  #list-container .alimento-item .btnListar {
    font-size: 24px;
    border: none;
    background-color: transparent;
    outline: none;
    color: #70bce7;
    justify-content: flex-end;
  }

  #alimentos tr td .btnSumar {
    margin-right: 15%;
    font-size: 15px;
    border: none;
    outline: none;
    color: #6ab9e7;
    justify-content: flex-end;
    background-color: transparent;
  }

  #alimentos tr td .btnRestar {
    font-size: 15px;
    border: none;
    outline: none;
    color: #6ab9e7;
    justify-content: flex-end;
    background-color: transparent;
  }
}

/*# sourceMappingURL=style.css.map */
